* {
    box-sizing: content-box;
}

.alert-danger {
    font-size: 12px;
    border: none;
}

H1 {
    font-family: 'Playfair Display', serif;
}

.desconto {
    width: 200px;
}

.fundo {
    width: 100%;
    height: 400px;
}

.painel-destaque {
    background-color: rgb(245, 222, 218);
    height: 500px;
}

.painel-midia{
    background-color: #fff;
    height: 500px;
}