* {
    box-sizing: content-box;
}

.alert-danger {
    font-size: 12px;
    border: none;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin: 0;
 }

.desconto {
    width: 200px;
}

.fundo {
    width: 100%;
    height: 400px;
}

.painel-destaque {
    background-color: rgb(245, 222, 218);
    height: 500px;
}

.painel-midia{
    background-color: #fff;
    height: 500px;
}

.footer {
    background: rgb(240, 204, 210);
}

.fixed {
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 5px;
}

.i {
    width: 10px;
}